@import '~antd/dist/antd.css';

.page {
	padding: 0 20px;
	width: 100%;
	min-height: 100%;
	background-color: white;
	max-height: 100vh;
	overflow-y: scroll;
}
.page .ant-page-header {
	padding-left: 0;
}

.api-unavailable {
	display: flex;
	align-items: center;
	justify-content: center;
	color: red;
	width: 100vw;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.list-no-results {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 150px;
}
